<div class="flex flex-col grow w-full gap-5" *ngIf="inventory">
  <div class="flex flex-row justify-between content-center">
    <span class="text-white font-bold align-middle">{{inventory.label}}</span>
    <app-button>Ajouter une transaction</app-button>
  </div>

  <div class="flex flex-col gap-5">

      <div class="relative overflow-x-auto sm:rounded-lg ">
        <table class=" w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Code de référence
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Désignation
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Catégorie
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Quantité
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Valeur
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let articleQuantity of inventory.tArticleQuantity"
                class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white even:hover:bg-gray-500 dark:hover:bg-gray-500 cursor-pointer">
                        {{articleQuantity.oArticle.referenceCode}}
                    </th>
                    <td class="px-6 py-4">
                        {{articleQuantity.oArticle.label}}
                    </td>
                    <td class="px-6 py-4">
                      {{articleQuantity.oArticle.oCategory.label}}
                    </td>
                    <td class="px-6 py-4">
                        {{articleQuantity.quantity}}
                    </td>
                    <td class="px-6 py-4">
                      {{articleQuantity.value}} €
                  </td>
                </tr>
                <ng-container *ngIf="inventory.tArticleQuantity.length === 0">
                  <tr
                  class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          Pas de d'articles présent dans le stock
                      </th>
                      <td></td>
                      <td></td>
                  </tr>
                </ng-container>
            </tbody>
        </table>
      </div>
  </div>
</div>
