<div class="flex flex-col h-full grow p-10 gap-5">
  <div class="flex justify-end">
    <app-button *ngIf="!id" (click)="enregistrer()">Ajouter</app-button>
  </div>
  <form class="flex flex-col gap-3 grow-0" [formGroup]="form" *ngIf="form">
    <app-toggle-button [tButton]="tButtonTransactionType" formControlName="type"></app-toggle-button>

    <app-date-picker appInputError formControlName="date" class="w-1/4"></app-date-picker>

    <div formArrayName="tArticleQuantity" class="flex flex-col gap-2 w-full h-full mt-1">

      <ng-container *ngFor="let control of tArticleQuantity().controls; let i = index">

        <div [formGroupName]="i" class=" flex w-full justify-between p-2 content-center rounded-xl border-solid border-2 border-gray-500 cursor-pointer">
          <div class="flex gap-5 w-1/2">
            <div class="w-1/2">
              <label for="article" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Article</label>
              <select id="article" formControlName="articleId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option [value]="article.id" *ngFor="let article of tArticleSelectable">{{article.referenceCode}} - {{article.label}}</option>
              </select>
            </div>

            <app-input class="w-1/4" type="number" label="Quantité" formControlName="quantity" [numberOptions]="{
              min : tArticleQuantity().at(i).get('min').value,
              max :  tArticleQuantity().at(i).get('max').value
            }"></app-input>
          </div>

          <div class="inline-flex flex-col  content-center">
            <app-button (click)="deleteArticleQuantity(i)">Supprimer</app-button>
          </div>
        </div>
      </ng-container>
    </div>
    <div (click)="addArticleQuantity()" class="flex w-full justify-center p-2 rounded-xl border-dotted border-2 border-gray-500 hover:border-blue-500 cursor-pointer text-gray-500 hover:text-blue-500 mb-5">
      <!-- In your component template -->
      <fa-icon class="" [icon]="faPlus"></fa-icon>
    </div>
  </form>
</div>
